*{margin: 0; padding: 0;}

:root {
    --font-family :  "Noto Sans", sans-serif ; 
    --text : 400 0.93rem/100%  var(--font-family);
    --text-md : 300 1.12rem/100% var(--font-family);

    --text-color : white ;
    --bg-primary : black ;
    --bg-secundary : rgb(58, 58, 58) ;
    --bg-btn: #3f4454;

    }

body {
        background-color: var(--bg-primary);
        color: var(--text-color);
}



